.DashboardStarter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--bg);
    gap: 1rem;
}

.inputWrapper {
    background: var(--bg);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 100%;
    color: var(--text);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.caretBtn {
    padding: 0;
    height: 1.4rem;
    color: var(--text-muted);
    width: fit-content;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.caretBtn svg {
    width: 2rem;
    color: var(--text-muted);
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.caretBtn.open svg {
    transform: rotate(0deg);
}