.tooltipWrapper {
    height: 100%;
    width: 100%;
    width: fit-content;
    position: relative;
    display: inline-block;
}

.tooltipBubble {
    position: absolute;
    z-index: 1000;
    padding: 0.5rem 0.75rem;
    background-color: var(--bg-light2);
    color: var(--text);
    border-radius: 0.4rem;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none;
}

.top {
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}

.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
}

.right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}

.left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 0.5rem;
}

.bottomleft {
    top: 100%;
    right: -10%;
    margin-top: 0.5rem;
}

.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltipWrapper:hover .tooltipBubble {
    opacity: 1;
    visibility: visible;
}