body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.4;
    background: var(--bg-dark);
    margin: 0;
    padding: 0;
}

.divider {
    height: 2px;
    background-color: var(--bg-light);
    margin: 0 5px;
}