.title {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 0.67rem;
    line-height: 1.2;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 0;
}