.TextButton {
    width: fit-content;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    outline: none;
    border: none;
    color: var(--text);
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    transition: background ease 0.2s;
}

.TextButton:hover {
    background: rgba(255, 255, 255, 0.15);
}

.green {
    background: var(--primary);
    color: var(--bg);
    transition: background ease 0.2s;
}

.green:hover {
    background: var(--primary-light);
}

.red {
    background: var(--secondary);
    color: var(--bg);
    transition: background ease 0.2s;
}

.red:hover {
    background: var(--secondary-light);
}