.ListEntry {
    width: 100%;
    height: 2.5rem;
    padding: 0.3rem;
    border-radius: 0.75rem;
    color: var(--text);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg);
    gap: 0.5rem;
    transition: background ease-in-out 0.2s;
}
.ListEntry:hover {
    background-color: var(--bg-light);
}

.square {
    height: 100%;
    aspect-ratio: 1;
    background-color: #16b49a;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.name {
    font-size: 1.2rem;
    color: var(--text);
    text-align: left;
    flex: 1;
    min-width: 0;
}

.value {
    font-size: 1.2rem;
    color: var(--text);
    text-align: right;
    width: 3rem;
    flex-shrink: 0;
}

.input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    border-radius: 0.5rem;
    padding: 0.25rem;
    transition: background ease-in-out 0.2s;
    box-sizing: border-box;
}

.input:hover {
    background-color: var(--bg-light);
}

.input:focus {
    background-color: var(--bg-light);
}