.NewLinkModal {
    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 0.67rem;
    line-height: 1.2;
}

.inputBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.buttonBar {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}