.CustomNodeTooltip {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: var(--text);
    white-space: nowrap;
}

.rect {
    height: 1.25rem;
    aspect-ratio: 1;
    border-radius: 0.25rem;
}

.arrow {
    font-size: 1.3rem;
}