.headerWrapper {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 0.67rem;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listContainer {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.newEntryBtn {
    width: 100%;
    height: 2rem;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
    color: var(--text-muted);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
}

.newEntryBtn:hover {
    background-color: var(--bg-light);
    color: var(--text);
}