.nameGroup {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-shrink: 1;
    min-width: 0;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    min-width: 0;
}

.headlineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 0.67rem;
    line-height: 1.2;
    font-weight: bold;
    color: var(--text);
}

.closeBtn {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out;
}

.closeBtn:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}